// Colors
$blueFontColor: #0780Ef
.teamContainer
  padding: 5rem 20px 0
  background-color: rgb(205, 220, 236)
  height: calc(100vh)

.breadcrumb
  margin-top: 1rem !important

  .breadcrumbLink
    text-decoration: none
    color: #000000
    transition: 0.3s
    font-size: 1.5rem

    &:hover
      text-decoration: underline
      color: #0000EE

    &.inActive:hover
      text-decoration: none

.teamSelectItem
  text-transform: capitalize

.addTeamIcon
  height: 100%
  font-size: 2rem

.tableContainer
  margin-top: 30px

  .teamTable
    max-width: 500px

    .tableBody
      .view
        a
          color: $blueFontColor
          text-decoration: none

        &:hover
          text-decoration: underline

      .actions
        .edit
          color: $blueFontColor
          font-size: 1.2rem

        .delete
          @extend .edit
          color: #D80F0F

.pagination
  .paginationIcon
    font-size: 2rem
    color: $blueFontColor

// For Edit Team Page
.addTeamContainer
  @extend .teamContainer
  height: 100%
  padding: 5rem

  .back
    font-size: 2rem
    color: $blueFontColor

  .teamForm
    .teamImgContainer
      display: flex
      position: relative
      justify-content: center

      div
        position: relative
        box-sizing: unset
        transition: 0.3s

        .teamImg
          width: 250px
          height: 100%
        .overlay
          position: absolute
          inset: 0
          width: 100%
          height: 100%
          background-color: #0780ef54
          opacity: 0

          .imgViewIcon
            position: absolute
            color: white
            font-size: 35px
            top: 50%
            right: 30%
            transform: translate(-50%, -50%)
            text-align: center

        &:hover
          .overlay
            opacity: 1

.inputsContainer
  .inputsWrapper
    margin-top: 1rem